@import '_legend';
@import '_tools';

@font-face{
	font-family: helveticaNeue;
	src: url(../fonts/HelveticaNeueLTCom-LtEx.ttf),
	url(../fonts/HelveticaNeueLTCom-ThEx.ttf);
}
@font-face {
	font-family: 'MyWebFont';
	src: url('webfont.eot'); /* IE9 Compat Modes */
	src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
	url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
	url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

*{
	font-family: helveticaNeue;
}
p, li{
	@include rfs(20);
}
h1{
	@include rfs(26);
	font-weight: 700;
	@media #{$medium}{
		@include rfs(34);
	}
	@media #{$large}{
		@include rfs(40);
	}
}
h2{
	@include rfs(24);
	color: $grey;
	font-weight: 700;
	@media #{$medium}{
		@include rfs(26);
	}
}
h3{
	@include rfs(22);
}

h4{
	@include rfs(18);
}

h5{
	@include rfs(16);
}

a{
	text-decoration: none;
	color: $dkgrey;
	@include transition(all 0.5s ease);
	&:hover{
		color: $ltgrey;
	}
}

.header-nav a{
	color: $white;
	@include rfs(20);
	line-height: 22px;
	font-weight: 700;
	@media #{$medium}{
		@include rfs(16);
		line-height: 18px;
	}
}

.banner-content p{
	@include rfs(20);
	color: $white;
	@media #{$medium}{
		@include rfs(26);
	}
}

h2.section-title{
	span{
		@include rfs(24);
		color: $grey;
		font-weight: 700;
		@media #{$medium}{
			@include rfs(26);
		}
	}
}

#mission{
	.mission-content{
		@include rfs(26);
		color: $grey;
		@media #{$medium}{
			line-height: 30px;
			@include rfs(28);
		}
	}
}


section#team{
	.staff-name a{
		@include rfs(20);
		line-height: 22px;
		font-weight: 700;
		&:hover{
			color: $ltgrey;
		}
	}
	.position{
		@include rfs(16);
		line-height: 18px;
		font-weight: 700;
		color: $grey;
	}
}

section#menu{
	.menu-column p{
		@include rfs(18);
		line-height: 28px;
		color: $grey;
		@media #{$medium}{
			line-height: 32px;
		}
	}
}

section#blog{
	.container-left{
		h2{
			@include rfs(26);
			line-height: 30px;
			font-weight: 700;
			@media #{$medium}{
				@include rfs(40);
				line-height: 46px;
			}
		}
		h3{
			@include rfs(20);
			line-height: 24px;
			color: $ltgrey;
			font-weight: 700;
			@media #{$medium}{
				@include rfs(28);
				line-height: 36px;
			}
		}
	}
	.container-right{
		a{
			color: $grey;
			@include rfs(20);
			line-height: 24px;
			font-weight: 700;
			&:hover{
				color: $ltgrey;
			}
		}
		.post-date{
			@include rfs(14);
			line-height: 16px;
			color: $ltgrey;
			font-weight: 700;
		}
	}
}

.widget-title{
	@include rfs(26);
	line-height: 28px;
	font-weight: 700;
	color: $grey;
}

section#contact{
	.contact-info-container *{
		color: $grey;
		@include rfs(16);
		line-height: 26px;
		@media #{$medium}{
			line-height: 30px;
		}
	}
}