@import '_legend';
@import '_tools';

@font-face{
	font-family: helveticaNeue;
	src: url(../fonts/HelveticaNeueLTCom-LtEx.ttf);
}

*{
	font-family: helveticaNeue;
}
p, li{
	@include rfs(20);
}
h1{
	@include rfs(26);
	font-weight: 700;
	@media #{$medium}{
		@include rfs(34);
	}
	@media #{$large}{
		@include rfs(40);
	}
}
h2{
	@include rfs(24);
	font-weight: 700;
	@media #{$medium}{
		@include rfs(34);
	}
}
h3{
	@include rfs(28);
}

h4{
	@include rfs(24);
}

h5{
	@include rfs(18);
}

a{
	text-decoration: none;
	color: $dkgrey;
	@include transition(all 0.5s ease);
	&:hover{
		color: $ltgrey;
	}
}
