@import '_legend';
@import '_tools';
@import '_grid';

footer.footer{
  overflow: visible !important;
  padding: 10px 0;
  background-color: $footergrey;
  padding-top: 40px;
  @media #{$large}{
    padding: 80px 0 40px 0;
  }
  div.copyright{
    padding: 10px;
    text-align: center;
    display: block;
    margin: 40px auto;
    max-width: 700px;
    @include rounded-corners(10px);
    overflow: hidden;
    background-color: $xltgrey;
  }
  .copy, .dev-jason{
    padding: 10px 10px;
    display: inline-block;
    @media #{$medium}{
      text-align: left;
    }
  }
  .dev-jason{
    @media #{$medium}{
      text-align: right;
    }
  }
}
