@import '_legend';
@import '_tools';
@import '_grid';

footer.footer{
  overflow: visible !important;
  padding: 10px 0;
  div.copyright{
    padding: 10px;
    float: left;
    text-align: center;
    width: 100%;
  }
  .copy{
    @media #{$medium}{
      width: 50%;
      float: left;
      text-align: left;
    }
  }
  .dev-jason{
    @media #{$medium}{
      float: right;
      width: 50%;
      text-align: right;
    }
  }
}
