@import '_legend';
@import '_tools';
@import '_grid';

header.header{

	.mobile_nav_btn {
		margin-top: 12px;
		float: right;
		position: relative;
		text-align: right;
		cursor: pointer;
		z-index: 3;
		@include transition;
		height: 55px;
		@media #{$medium}{
			display: none;
		}
		#nav-toggle {
			height: 55px;
			width: 55px;
			display: block;
			span {
				top: 18px;
				right: 0;
			}
		}
		#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
			border-radius: 1px;
			height: 9px;
			width: 55px;
			background: $grey;
			position: absolute;
			display: block;
			content: '';
			@include rounded-corners(5px);
		}
		#nav-toggle span:before {
			top: -15px; 
		}
		#nav-toggle span:after {
			bottom: -15px;
		}

		#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
			@include transition(all 0.5s ease-in-out);
		}
		&.active {
			#nav-toggle span {
				background-color: transparent;
			}
			#nav-toggle span:before, #nav-toggle span:after {
				top: 0;
			}
			#nav-toggle span:before {
				@include transform(rotate(45deg));
			}
			#nav-toggle span:after {
				@include transform(rotate(-45deg));
			}
		}
	}
}

