//LEGEND
     
$small: "only screen and (max-width: 767px)";
$medium: "only screen and (min-width: 768px)";
$max-medium: "only screen and (max-width: 1023px)";
$large: "only screen and (min-width: 1024px)";

$background-grey: #eeeeee;
$white: #ffffff;
$offwhite: #73737c;
$black: #000000;
$dkgrey: #333333;
$grey: #666666;
$ltgrey: #999999;
$red: #f00f00;
$ltblue: #5399ef;
$blue: #0074ff;