//LEGEND
     
$small: "only screen and (max-width: 767px)";
$medium: "only screen and (min-width: 768px)";
$max-medium: "only screen and (max-width: 1024px)";
$large: "only screen and (min-width: 1025px)";

$white: #ffffff;
$black: #000000;
$xdkgrey: #333333;
$dkgrey: #4d4d4d;
$grey: #6b7770;
$ltgrey: #999999;
$xltgrey: #e7eae8;
$green: #79c253;

$smmgrey: #c1cac5;
$instagram: #2E5E86;
$pinterest: #cb2027;
$yelp: #af0606;
$facebook: #3C5A98;