@import '_legend';
@import '_tools';
@import '_grid';

.home-list{
	margin-top: 20px;
	float: left;
	display: block;
	width: 100%;
	.list-content{
		@include column(6);
		padding-bottom: 20px;
		@media #{$large}{
			@include column(3);
		}
		&:nth-of-type(3n){
			clear: left;
			@media #{$large}{
				clear: none;
			}
		}
		ul{
			padding-left: 20px;
			margin: 0;
			li{
				padding: 5px 0;
			}
		}
	}
}
.home-featured-container{
	width: 100%;
	float: left;
	display: block;
	position: relative;
	@media #{$small}{
		height: 240px;
	}
	.home-featured-image{
		height: 100%;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.home-featured-text{		
		text-align: center;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		display: block;
		padding-bottom: 70px;
		background-color: rgba($black, 0.5);
		@media #{$large}{
			width: 600px;
			height: 250px;
		}
		p{
			margin: 0;
			&:last-of-type{
				position: absolute;
				bottom: 20px;
				left: 0;
				right: 0;
			}
		}
		a{
			// background-color: $background-grey;
			@include rounded-corners(5px);
			width: 300px;
			padding: 10px 20px;
		}
	}
}

.singular{
	.content-full{
		.wrapper{
			h1{
				@include column(12);
				margin-top: 20px;
			}
		}
	}
}

//pre-loader
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/squares.gif) center no-repeat #fff;
}

.quote, .about-us{ 
	.content-container{
		@include column(12);
		form{
			@include row(12);
		}
	}
}