@import '_legend';
@import '_tools';
@import '_grid';

section#blog{
	ul{
		list-style: none;
		padding: 0;
		li{
			width: 100%;
			float: left;
			display: block;
			a{
				float: left;
				display: block;
			}
			.post-date{
				width: 100%;
				float: left;
				display: block;
				margin-top: 10px;
				margin-bottom: 20px;
				@media #{$medium}{
					margin-bottom: 60px;
				}
			}
		}
	}
}

section#social-media{
	.sidebar-social-media{
		max-width: 960px;
		margin: 0 auto;
		.widget_sp_image{
			@include column(3);
			a{
				@include rounded-corners(50%);
				padding: 20px;
			}
		}
	}
}
footer#footer{
	.sidebar-social-media-footer{
		text-align: center;
		aside.widget_sp_image{
			display: inline-block;
			height: 50px;
			width: 50px;
			margin: 0 5px;
			a{
				@include rounded-corners(10px);
			}
		}
	}
}
.sidebar-social-media, .sidebar-social-media-footer{
	.widget-title{
		display: none;
	}
	.widget_sp_image{
		text-align: center;
		a{
			display: inline-block;
			background-color: $smmgrey;
			&[title="facebook"]{
				&:hover{
					background-color: $facebook;
				}
			}
			&[title="instagram"]{
				&:hover{
					background-color: $instagram;
				}
			}
			&[title="pinterest"]{
				&:hover{
					background-color: $pinterest;
				} 
			}
			&[title="yelp"]{
				&:hover{
					background-color: $yelp;
				}
			}
		}
	}
}